/.idea/

/ *.log

/ *.class

/ *.jar
/ *.war
/ *.ear
/docs/dev-ops/rocketmq/data/rocketmq/store/abort
/docs/dev-ops/rocketmq/data/rocketmq/store/abort.bak
/big-market-domain/target/classes/com/zhouyihe/bigmarket/domain/activity/service/rule/AbstractActionChain.class
/big-market-domain/target/classes/com/zhouyihe/bigmarket/domain/activity/service/armory/ActivityArmory.class
/big-market-domain/target/classes/com/zhouyihe/bigmarket/domain/activity/service/rule/impl/ActivityBaseActionChain.class
/big-market-domain/target/classes/com/zhouyihe/bigmarket/domain/activity/service/rule/impl/ActivitySkuStockActionChain.class
/big-market-domain/target/classes/com/zhouyihe/bigmarket/domain/activity/model/valobj/ActivitySkuStockKeyVO$ActivitySkuStockKeyVOBuilder.class
/big-market-domain/target/classes/com/zhouyihe/bigmarket/domain/activity/model/valobj/ActivitySkuStockKeyVO.class
/big-market-trigger/target/classes/com/zhouyihe/bigmarket/trigger/listener/ActivitySkuStockZeroCustomer$1.class
/big-market-trigger/target/classes/com/zhouyihe/bigmarket/trigger/listener/ActivitySkuStockZeroCustomer.class
/big-market-domain/target/classes/com/zhouyihe/bigmarket/domain/activity/event/ActivitySkuStockZeroMessageEvent.class
/big-market-domain/target/classes/META-INF/mps/autoMapper
/big-market-infrastructure/target/classes/META-INF/mps/autoMapper
/big-market-domain/target/classes/io/github/linpeilie/AutoMapperConfig__109.class
/big-market-domain/target/generated-sources/annotations/io/github/linpeilie/AutoMapperConfig__109.java
/big-market-infrastructure/target/classes/io/github/linpeilie/AutoMapperConfig__110.class
/big-market-infrastructure/target/generated-sources/annotations/io/github/linpeilie/AutoMapperConfig__110.java
/big-market-types/target/classes/com/zhouyihe/bigmarket/types/event/BaseEvent$EventMessage$EventMessageBuilder.class
/big-market-types/target/classes/com/zhouyihe/bigmarket/types/event/BaseEvent$EventMessage.class
/big-market-types/target/classes/com/zhouyihe/bigmarket/types/event/BaseEvent.class
/docs/dev-ops/rocketmq/data/rocketmq/store/checkpoint
/docs/dev-ops/rocketmq/data/rocketmq/store/config/consumerFilter.json
/docs/dev-ops/rocketmq/data/rocketmq/store/config/consumerFilter.json.bak
/docs/dev-ops/rocketmq/data/rocketmq/store/config/consumerOffset.json
/docs/dev-ops/rocketmq/data/rocketmq/store/config/consumerOffset.json.bak
/docs/dev-ops/rocketmq/data/rocketmq/store/config/consumerOrderInfo.json
/docs/dev-ops/rocketmq/data/rocketmq/store/config/consumerOrderInfo.json.bak
/big-market-domain/target/classes/io/github/linpeilie/ConverterMapperAdapter__109.class
/big-market-domain/target/generated-sources/annotations/io/github/linpeilie/ConverterMapperAdapter__109.java
/big-market-infrastructure/target/classes/io/github/linpeilie/ConverterMapperAdapter__110.class
/big-market-infrastructure/target/generated-sources/annotations/io/github/linpeilie/ConverterMapperAdapter__110.java
/big-market-domain/target/classes/com/zhouyihe/bigmarket/domain/strategy/service/rule/tree/factory/engine/impl/DecisionTreeEngine$1.class
/big-market-domain/target/classes/com/zhouyihe/bigmarket/domain/activity/service/rule/factory/DefaultActivityChainFactory$ActionModel.class
/big-market-domain/target/classes/com/zhouyihe/bigmarket/domain/activity/service/rule/factory/DefaultActivityChainFactory.class
/big-market-domain/target/classes/com/zhouyihe/bigmarket/domain/strategy/service/rule/chain/factory/DefaultChainFactory$LogicModel.class
/big-market-domain/target/classes/com/zhouyihe/bigmarket/domain/strategy/service/rule/chain/factory/DefaultChainFactory$StrategyAwardVO$StrategyAwardVOBuilder.class
/big-market-domain/target/classes/com/zhouyihe/bigmarket/domain/strategy/service/rule/chain/factory/DefaultChainFactory$StrategyAwardVO.class
/docs/dev-ops/rocketmq/data/rocketmq/store/config/delayOffset.json
/docs/dev-ops/rocketmq/data/rocketmq/store/config/delayOffset.json.bak
/big-market-infrastructure/target/classes/com/zhouyihe/bigmarket/infrastructure/event/EventPublisher.class
/big-market-domain/target/classes/com/zhouyihe/bigmarket/domain/activity/service/rule/IActionChain.class
/big-market-domain/target/classes/com/zhouyihe/bigmarket/domain/activity/service/rule/IActionChainArmory.class
/big-market-domain/target/classes/com/zhouyihe/bigmarket/domain/activity/service/armory/IActivityArmory.class
/big-market-domain/target/classes/com/zhouyihe/bigmarket/domain/activity/service/armory/IActivityDispatch.class
/big-market-domain/target/classes/com/zhouyihe/bigmarket/domain/activity/service/ISkuStock.class
/docs/dev-ops/rocketmq/data/rocketmq/store/lock
/big-market-app/data/log/log-error-2025-01-06.0.log
/big-market-app/data/log/log-error-2025-01-10.0.log
/big-market-app/data/log/log-error-2025-01-11.0.log
/big-market-app/data/log/log-info-2024-12-30.0.log
/big-market-app/data/log/log-info-2024-12-31.0.log
/big-market-app/data/log/log-info-2025-01-01.0.log
/big-market-app/data/log/log-info-2025-01-06.0.log
/big-market-app/data/log/log-info-2025-01-10.0.log
/big-market-app/data/log/log-info-2025-01-11.0.log
/big-market-app/data/log/log_info.log
/big-market-domain/target/classes/com/zhouyihe/bigmarket/domain/activity/service/RaffleActivitySupport.class
/docs/dev-ops/rocketmq/data/logs/consolelogs/rocketmq-console.log
/.vscode/settings.json
/big-market-domain/target/classes/com/zhouyihe/bigmarket/domain/activity/model/entity/SkuRechargeEntity.class
/docs/dev-ops/rocketmq/data/rocketmq/store/config/timercheck
/docs/dev-ops/rocketmq/data/rocketmq/store/config/timermetrics
/docs/dev-ops/rocketmq/data/rocketmq/store/config/timermetrics.bak
/docs/dev-ops/rocketmq/data/rocketmq/store/timerwheel
/docs/dev-ops/rocketmq/data/rocketmq/store/config/topics.json
/big-market-trigger/target/classes/com/zhouyihe/bigmarket/trigger/job/UpdateActivitySkuStockJob.class
